.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero-content {
  display: flex;
  gap: 80px;
  align-items: center;
}

.hero-photo-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 35px;
}

.hero-photo {
  display: block;
  border-radius: 35px;
  object-fit: cover;
  width: 540px;
  height: auto;
  position: relative;
  z-index: 1;
}

.hero-photo-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 95%;
  border-radius: 35px;
  background: linear-gradient(
    180deg,
    #3F4EAF 69.58%,
    #2B3577 87.21%,
    #1A2149 100%
  );
  margin: -10px;
  transform: scale(1.05);
  z-index: 0;
}

.hero-text {
  max-width: 600px;
}

.special-name {
  font-family: 'Pixelify Sans';
  font-size: 1.5em;
  font-weight: lighter;
}


/* Breakpoint 1325px */
@media (max-width: 1325px) {
  .hero-content {
    gap: 60px;
  }
  .hero-photo {
    width: 480px;
  }
}

/* Breakpoint 1024px */
@media (max-width: 1024px) {
  .hero-content {
    gap: 40px;
  }
  .hero-photo {
    width: 400px;
  }
  .hero-text {
    max-width: 500px;
  }
}

/* Breakpoint 785px */
@media (max-width: 785px) {
  .hero {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
  }
  .hero-content {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .hero-photo {
    width: 300px;
  }
  .hero-text {
    max-width: 90%;
    text-align: center;
  }
}

/* Breakpoint 360px */
@media (max-width: 360px) {
  .hero-photo {
    width: 240px;
  }
  .hero-text {
    font-size: 0.9em;
  }
}