.project-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}


.project-modal-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}


.project-modal-container {
  position: relative;
  width: 95vw;
  height: 95vh;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.project-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 10;
}

.project-modal-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.project-modal-content {
  padding-top: 20px;
  padding-left: 40px;
  overflow-y: auto;
  height: 100%;
}

.modal-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.modal-text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.kasa {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.modal-column p {
  flex: 1;
  min-width: 200px; 
  font-size: x-large;
  line-height: 1.5;
}

.modal-column img.screen {
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Desktop moyen / 1325px */
@media (max-width: 1325px) {
  .modal-column img.screen {
    max-width: 450px;
    width: 47%;
  }
  .modal-column p {
    font-size: 1.4rem;
  }
}

/* Tablette / 1024px */
@media (max-width: 1024px) {
  .modal-column img.screen {
    max-width: 400px;
    width: 45%;
  }
  .modal-column p {
    font-size: 1.2rem;
    text-align: center;
  }
  .img-wrapper {
  padding: 10px;
  }
  .img-wrapper img.screen {
    margin-right: 10px;
  }
}

/* Petit écran / 785px */
@media (max-width: 785px) {
  .project-modal-container {
    width: 95vw;
    height: 90vh;
  }
  .modal-column img.screen {
    max-width: 300px;
    width: 80%;
  }
  .modal-column p {
    font-size: 1rem;
  }
  .img-wrapper {
  flex-direction: column;
  gap: 40px;
}
}

/* Mobile / 360px */
@media (max-width: 360px) {
  .project-modal-container {
    width: 100vw;
    height: 90vh;
    border-radius: 0;
  }
  .modal-column img.screen {
    max-width: 250px;
  }
  .modal-column p {
    font-size: 0.9rem;
  }
}